/* Estilos comunes para todas las pantallas */
body #cuerpo {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #048524;
  color: #ffffff;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  align-items: end;
  text-align: center;
}

footer div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

footer .categoria i {
  color: white;
}

footer span {
  color: white;
  margin-top: 5px;
}
footer button{
  background-color: #048524;
  border: none;
}

#mi-tabla th {
  background-color: #f8f9fa !important;
}

#mi-tabla td {
  background-color: #f8f9fa !important;
}

.boton {
  display: flex;
  width: max-content;
  justify-content: center;
}

div .columna {
  flex: 1;
  margin: 10px;
}

#productos-comprados th {
  background-color: #bd0003;
  color: white;
}

#productos-comprados tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: black !important;
}

#pagina-padding {
  padding-left: 20px;
}

#de-frescura .columna img {
  width: 100px;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 545px) and (max-height: 693px) {
  tr {
      display: flex;
      justify-content: space-evenly;
  }

  #mi-tabla th {
      padding: 20px;
  }

  body #cuerpo {
      font-size: -webkit-xxx-large;
  }

  .boton {
      display: flex;
      width: max-content;
      justify-content: center;
      padding: 100px;
  }


#texto-cotizacion span{
  font-size: x-small;
}}
#texto-cotizacion{
  padding: 10px
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 546px) and (min-height: 694px) {
  

  /* Agrega más estilos específicos para pantallas grandes según sea necesario */
}
